In [30]:
#import
import pandas as pd

#Read CSV file
df = pd.read_csv("vine_table.csv")
count_df = len(df)
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643615,R13RP6H1OP0BFS,5.0,3.0,3.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643617,R30D2N6TX0OFS,3.0,7.0,7.0,N,Y
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [31]:
#filter out reviews with total votes thar are greater or equal to 20
filtered_df = df.loc[df['total_votes']>=20]
count_filtered = len(filtered_df)
filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643586,RDDVO19Y8YH01,1.0,12.0,56.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [32]:
# Final filter with items helpful votes out of total votes are greater or equal to 50%
clean_df= filtered_df.loc[filtered_df['helpful_votes']/filtered_df['total_votes']>=0.5]
count_clean = len(clean_df) 
clean_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [33]:
# Filter out all Vine users reviews
vineuser_df = clean_df[clean_df['vine'] == 'Y']
count_vineusers = len(vineuser_df)
vineuser_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N
...,...,...,...,...,...,...
2596353,RV5OQXGCYHSC6,5.0,24.0,28.0,Y,N
2596519,R2XLAQL0E2UPWQ,4.0,33.0,34.0,Y,N
2597336,R2UJFVH97OJORD,3.0,106.0,117.0,Y,N
2597830,RJXG84I331N9T,3.0,146.0,154.0,Y,N
2598196,RNGRV0353CDWX,4.0,109.0,115.0,Y,N

In [34]:
#FFilter out all non vine users reviews
vinenon_df = clean_df[clean_df['vine'] == 'N']
count_vinenon = len(vinenon_df)
vinenon_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [35]:
# Number of 5 star reviews with N as Vine
count_five_star_non = len(vinenon_df[vinenon_df['star_rating'] == 5])
count_five_star_non

20612

In [36]:
# Number of 5 star reviews with Y as Vine
count_five_star_users = len(vineuser_df[vineuser_df['star_rating'] == 5])
count_five_star_users

65

In [37]:
# Percentage of 5 star reviews for Vine Reviews
per_of_fivestar_user = count_five_star_users / count_vineusers
per_of_fivestar_user

0.38235294117647056

In [38]:
# Percentage of 5 star reviews Non-Vine Reviews
per_of_fivestar_non = count_five_star_non / count_vinenon
per_of_fivestar_non

0.5447145877378435

In [39]:
# Printing all results
print(f"Total number of reviews returned from database vine table : {count_df:,}")
print(f"Total number of reveiws with total votes are greater or equal to 20 : {count_filtered:,}")
print(f'Total number of reviews with total helpful votes is equal or greater than 50% : {count_clean:,}')
print(f'Total number of Vine reviews: {count_vineusers:,}')
print(f'Total number of non-Vine reviews : {count_vinenon:,}')
print(f'Total number of Vine reviews with five star reviews : {count_five_star_users:,}')
print(f'Total number of non-Vine reviews with five star reviews : {count_five_star_non:,}')
print(f'Percentage of five star reviews in Vine reviews : {per_of_fivestar_user: .1%}')
print(f'Percentage of five star reviews in non-vine reviews : {per_of_fivestar_non: .1%}')

Total number of reviews returned from database vine table : 2,643,619
Total number of reveiws with total votes are greater or equal to 20 : 39,376
Total number of reviews with total helpful votes is equal or greater than 50% : 38,010
Total number of Vine reviews: 170
Total number of non-Vine reviews : 37,840
Total number of Vine reviews with five star reviews : 65
Total number of non-Vine reviews with five star reviews : 20,612
Percentage of five star reviews in Vine reviews :  38.2%
Percentage of five star reviews in non-vine reviews :  54.5%